body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

.fotos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fotos img {
    width: 30%;
    height: auto;
}
