<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Título da Página</title>
    <link rel="stylesheet" href="~/css/Home.css">
</head>
<body>

    <h1>Encontre filmes e suas avaliações Aqui !</h1>
    <p>Explorando o fascínio dos filmes, descubra como eles transformam ideias em histórias cativantes. Desde a concepção inicial até a produção final, cada filme é moldado por um roteiro que serve como o coração da obra, guiando todas as etapas da realização. Com pesquisa meticulosa, desenvolvimento de personagens e planejamento cuidadoso, os roteiristas criam histórias que emocionam, inspiram e conectam com o público, demonstrando o poder da narrativa em capturar a imaginação.</p>

    <div class="fotos">
        <img src="~/images/plan_macaco.png" alt="Descrição da imagem 1">
        <img src="~/images/xmen.png" alt="Descrição da imagem 2">
        <img src="~/images/fera.png" alt="Descrição da imagem 3">
    </div>

    <p>Descubra o universo cinematográfico com nossas análises detalhadas! Navegue pelas avaliações de filmes que exploram tudo, desde a direção e fotografia até o roteiro e edição. Nosso site é sua plataforma para entender melhor os filmes que você ama, identificando os elementos que os tornam verdadeiramente memoráveis. Junte-se à comunidade que valoriza o cinema e venha compartilhar suas próprias opiniões e descobertas.</p>

</body>
</html>
