<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Exemplo de Imagens</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>

    <div class="linha-imagens">
        <img src="~/images/aquaman.png" alt="Descrição da imagem 1">
        <img src="~/images/xmen.png" alt="Descrição da imagem 2">
        <img src="~/images/aquaman.png" alt="Descrição da imagem 3">
    </div>
    <div class="linha-imagens">
        <img src="~/images/aquaman.png" alt="Descrição da imagem 4">
        <img src="~/images/aquaman.png" alt="Descrição da imagem 5">
        <img src="~/images/aquaman.png" alt="Descrição da imagem 6">
    </div>

    <picture>
        <source media="(min-width: 650px)" srcset="img_pink_flowers.jpg">
        <source media="(min-width: 465px)" srcset="img_white_flower.jpg">
        <img src="~/images/xmen.png" alt="Flowers" style="width:auto;">
    </picture>


</body>
</html>


